.footer {
  background-color: #0d1117;
  color: #cbd5e1;
  padding:10px;
  font-family: 'Poppins', sans-serif;
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section h3,
.footer-section h4 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a,
.footer-section li {
  font-size: 0.95rem;
  color: #cbd5e1;
  text-decoration: none;
}

.footer-section a:hover {
  color: #22d3ee;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: #cbd5e1;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #22d3ee;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #1e293b;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #94a3b8;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .social-icons {
    justify-content: center;
  }
}
